body {
  margin: 0;
  font-family: Arial;
}

/* banner */
.banner {
  background: black;
  color: white;
  text-align: center;
  padding: 80px 20px;
}

/* 公司介绍 */
.about {
  padding: 40px;
  text-align: center;
}

.company-img {
  width: 300px;
  border-radius: 10px;
  margin: 20px 0;
}

/* 产品 */
.products {
  text-align: center;
  padding: 40px;
}

.grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  text-decoration: none;
  color: black;
}

.card img {
  width: 100%;
  border-radius: 10px;
  transition: 0.3s;
}

.card img:hover {
  transform: scale(1.05);
}
